In [2]:
import pandas as pd
import numpy as np

In [7]:
months = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"]
main_df = pd.DataFrame()

for month in months:
    print(month)
    filepath = f"data/JC-2022{month}-citibike-tripdata.csv"
    df = pd.read_csv(filepath, low_memory=False)
    df = df.sample(frac=0.015, random_state=42)
    main_df = pd.concat([main_df, df], axis=0)

main_df = main_df.reset_index(drop=True)

01
02
03
04
05
06
07
08
09
10
11
12

In [8]:
main_df.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

In [9]:
 main_df.to_csv("2022_citibike_rides_sample.csv", index=False)

In [10]:
main_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,363FDF271323F3C0,electric_bike,2022-01-19 08:13:48,2022-01-19 08:17:16,Brunswick & 6th,JC081,Manila & 1st,JC082,40.726012,-74.050389,40.721651,-74.042884,casual
1,C20A36BA75BE5B4C,classic_bike,2022-01-22 12:07:47,2022-01-22 12:19:51,Hoboken Ave at Monmouth St,JC105,Hoboken Terminal - Hudson St & Hudson Pl,HB101,40.735208,-74.046964,40.735938,-74.030305,member
2,02DF344FB91BD358,classic_bike,2022-01-22 11:15:57,2022-01-22 11:17:33,Sip Ave,JC056,Sip Ave,JC056,40.730897,-74.063913,40.730897,-74.063913,member
3,B5B108F096140ABF,classic_bike,2022-01-12 16:17:30,2022-01-12 16:21:13,Brunswick St,JC023,Grove St PATH,JC005,40.724176,-74.050656,40.719586,-74.043117,member
4,34CDD60229964DCA,classic_bike,2022-01-25 12:34:07,2022-01-25 12:35:29,Warren St,JC006,Columbus Drive,JC014,40.721124,-74.038051,40.718355,-74.038914,member

In [11]:

main_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13432 entries, 0 to 13431
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             13432 non-null  object
 1   rideable_type       13432 non-null  object
 2   started_at          13432 non-null  object
 3   ended_at            13432 non-null  object
 4   start_station_name  13431 non-null  object
 5   start_station_id    13431 non-null  object
 6   end_station_name    13389 non-null  object
 7   end_station_id      13389 non-null  object
 8   start_lat           13432 non-null  float64
 9   start_lng           13432 non-null  float64
 10  end_lat             13403 non-null  float64
 11  end_lng             13403 non-null  float64
 12  member_casual       13432 non-null  object
dtypes: float64(4), object(9)
memory usage: 1.3+ MB